body {
  background-color: rgb(10, 148, 227)
}
.App {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 85vh;
  display: grid;
}

i {
  float: right;
  color: rgb(190, 49, 45)
}

.card {
  background-color: white;
  margin: 1.5%;
  padding: 2%;
  height: auto;
}

.App-header {
  background-color: #0a88cf;
  height: auto;
  padding: 20px;
  color: white;
  margin-bottom: 1%;
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: center;
  font-family: 'Lobster', cursive;
  opacity: 0.9
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  margin: 2%;
  background-color: rgb(235, 235, 235);
  font-family: 'Roboto', sans-serif;
}

.categoryWrapper h3 {
  margin-left: 1%;
  height: 30px !important;
  grid-row: 1;
  text-align: center;
}

.addCard {
  border: 0;
  border-radius: 0;
  background-color: rgb(235, 235, 235);
  padding: 2%;
  width: 100%;
  text-align: left;
  color: black;
  font-size: 1em;
  height: 5%;
}

.addButton {
  border: 0;
  border-radius: 0;
  background-color: rgb(76, 190, 94);
  padding: 2%;
  margin-left: 2%;
  color: white;
}

.cancelButton {
  border: 0;
  border-radius: 0;
  background-color: rgb(219, 92, 92);
  padding: 2%;
  margin-left: 2%;
  color: white;
}

.cardBody {
  width: 95%;
  margin: 0 2% 0 2%;
  font-size: 1.2em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
